body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.hidden {
    display: none;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 18px);
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.card {
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    text-align: center;
}

.black-card {
    background-color: black;
    color: white;
}

.white-card {
    background-color: white;
    color: black;
    border: 1px solid #ddd;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-container .card {
    margin: 5px;
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
}